doctype html
html(lang="zh-TW")
  head
    // Google Analytics
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-103835191-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-103835191-1');

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    if page.title
      title= config.title + " | " + page.title
    else
      title= config.title
    link(rel="stylesheet", href="https://unpkg.com/purecss@1.0.0/build/pure-min.css", integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w", crossorigin="anonymous")
    link(rel="stylesheet", href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css")
    link(rel="stylesheet", type="text/css", href=url_for(theme.css) + "/style.css")
    link(rel="stylesheet", type="text/css", href=url_for(theme.css) + "/syntax-highlight.css")
    script(src="https://use.fontawesome.com/0bc11e7eba.js")

    // Open Graph Protocol
    if page.title
      meta(property="og:title" content=page.title)
    meta(property="og:image" content="https://www.slmt.tw/images/logo.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content=url_for(page.path))
    meta(property="og:site_name" content="SLMT's Blog")
    meta(property="og:locale" content="zh-TW")
    if page.excerpt
      meta(property="og:description" content=strip_html(page.excerpt))

  body
    #container
      #header
        h1.title= config.title
        .pure-g.navs
          .nav.pure-u-1.pure-u-sm-1-4
            a(href=url_for(".")) All Posts
          .nav.pure-u-1.pure-u-sm-1-4
            a(href=url_for("/archives")) Archive
          .nav.pure-u-1.pure-u-sm-1-4
            a(href="https://www.slmt.tw/") About
          .nav.pure-u-1.pure-u-sm-1-4
            a(href=url_for("/rss.xml")) RSS
      #main
        block main
      #footer
        p &copy; Yu-shan Lin (SLMT) and SLMT's Blog, 2016-2019
